.create-gnote-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px;

	.commit-msg-input {
	}

	.md-editor-component {
		height: 100%;
		display: flex;
		margin: 10px 0;

		textarea {
			flex: 1;
		}
	}
}